.weatherBg {
  background: url("https://wallpaperaccess.com/full/503294.jpg");
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.heading {
  color: white;
  font-weight: 750;
}
.weatherResultBox {
  margin: auto;
  height: 300px;
  width: 500px;
}
.weatherIcon {
  margin-left: 40%;
  margin-top: 0.7rem;
  width: 100px;
  height: 100px;
}
.weatherCity {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 35px;
}
.weatherTemp {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 55px;
  font-weight: 700;
}
.weatherSpeed {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.weatherClouds {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  .weatherBg,
  .weatherResultBox {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    position: relative;
  }
}
